* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container1 {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url("../img/side-view-01-01.png");
  background-position: 0 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  -webkit-animation: bg_moving 800000s linear infinite;
          animation: bg_moving 800000s linear infinite;
}

.wheel2 {
  -webkit-animation: rotate_back 2.5s linear infinite;
          animation: rotate_back 2.5s linear infinite;
}

.wheel1 {
  -webkit-animation: rotate_front 2.5s linear infinite;
          animation: rotate_front 2.5s linear infinite;
}

#car1 {
  height: 30%;
  position: absolute;
  bottom: 5px;
}

/* -----------------------------------------------------------------------------------
 ----------------------------second-------------------------------------------------
 -----------------------------------------------------------------------------------*/
#container2 {
  position: relative;
  width: 100%;
  height: 360px;
  background-image: url("../img/top_view-01.png");
  background-position: 0 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  -webkit-animation: bg_moving 700000s linear infinite;
          animation: bg_moving 700000s linear infinite;
  margin-top: 30%;
  margin-bottom: 600px;
}

#car2 {
  position: absolute;
  bottom: 110px;
  left: 30px;
}

/* -----------------------------------------------------------------------------------
 ----------------------------keyframes-------------------------------------------------
 -----------------------------------------------------------------------------------*/
@-webkit-keyframes bg_moving {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000000% 0;
  }
}
@keyframes bg_moving {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000000% 0;
  }
}

@-webkit-keyframes rotate_back {
  0% {
    -webkit-transform-origin: 18.456% 65.56%;
            transform-origin: 18.456% 65.56%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 18.456% 65.56%;
            transform-origin: 18.456% 65.56%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_back {
  0% {
    -webkit-transform-origin: 18.456% 65.56%;
            transform-origin: 18.456% 65.56%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 18.456% 65.56%;
            transform-origin: 18.456% 65.56%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate_front {
  0% {
    -webkit-transform-origin: 76.828% 67%;
            transform-origin: 76.828% 67%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 76.828% 67%;
            transform-origin: 76.828% 67%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_front {
  0% {
    -webkit-transform-origin: 76.828% 67%;
            transform-origin: 76.828% 67%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform-origin: 76.828% 67%;
            transform-origin: 76.828% 67%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */